# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Installer logs
pip-log.txt

# SQLite database
data/db/ping_log.db

# VS Code and IDE settings
.vscode/
.idea/

#Virtual Environment
.venv/

#env variables
.env

# OS files
.DS_Store
Thumbs.db

# pre-commit
.pre-commit-config.yaml

# ruff
.ruff_cache/
