# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Installer logs
pip-log.txt

# SQLite database
data/db/ping_log.db

# UML and dependency
UML_dependencies/

#Checklist
Checklist.txt

# VS Code and IDE settings
.vscode/
.idea/

#Virtual Environment
.venv/

# OS files
.DS_Store
Thumbs.db
